@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

body {
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Rubik', sans-serif;
}

.background {
  background-image: url(./images/pattern-bg.png);
  object-fit:  cover;
  width: 100vw;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  font-family: 'Rubik', sans-serif;
  color: white;
  font-weight: 500;
  font-size: 20px;
  margin-top: 25px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.inputBar {
  width: 70vw;
  max-width: 400px;
  height: 50px;
  padding-left: 20px;
  border: 0 solid white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-family: 'Rubik', sans-serif;
  color: black;
  font-weight: 400;
  font-size: 18px;
}

.inputBar:hover {
  cursor: pointer;
}

.inputBar::placeholder {
  color: rgb(30, 30, 30);
  font-size: 15px;
  opacity: .8;
}

.inputButton {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 0 solid white;
  width: 53px;
  height: 53px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .1s;
}

.inputButton:hover {
  cursor: pointer;
  background-color: rgb(59, 59, 59);
}

textarea:focus, input:focus{
  outline: none;
}

.inputBox {
  height: 50px;
  width: 500px;
  background-color: white;
}



.resultsDisplay {
  background-color: white;
  border-radius: 10px;
  width: 69vw;
  max-width: 69vw;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  margin: 20px auto -100px auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.displayTitle {
  color: grey;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 8px;
  letter-spacing: 1.5px;
  margin-bottom: 10px;
  opacity: .8;
  text-align: center;
}

.displayValue {
  font-family: 'Rubik', sans-serif;
  color: black;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 3px;
  text-align: center;
}

hr {
  display: none;
}




@media only screen and (min-width: 800px) {
  .background {
    background-repeat: no-repeat;
    background-size: cover;
    height: 280px;
  }

  h1 {
    font-size: 30px;
    margin-top: 40px;
  }

  form {
    margin-top: 35px;
  }

  .inputBar {
    width: 400px;
  }

  .inputButton {
    width: 53px;
  }

  .resultsDisplay {
    border-radius: 15px;
    height: 90px;
    flex-direction: row;
    align-items: flex-start;
    padding: 30px;
    margin: 45px auto -90px auto;
  }
  
  .displayTitle {
    font-size: 11px;
    margin: 8px auto 20px auto;
    text-align: left;
  }
  
  .displayValue {
    font-size: 24px;
    text-align: left;
  }

  .hr {
    transform: rotate(90deg);
    margin-top: 44px;
    width: 100px;
    max-width: 100px;
    height: 1px;
    opacity: .3;
    background-color: grey;
  }


}






